#hero {
    background: url('images/hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.btn {
    background-color: #007BFF;
    color:#fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* About Sectionn*/
#about {
    padding: 50px 20px;
    text-align: center;
}

/* Services Section */
#services {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.service-item {
    max-width: 300px;
    text-align: center;
}

/* Contect Section */
#contact {
    padding: 50px 20px;
    text-align: center;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}